body {
    font-family: Lato, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

#header {
    padding-top: 156px;
    overflow-x: hidden;
    padding-bottom: 156px;
    background-size: 100% 100%;
    background: url("../public/images/high-res.jpg");
}

#header-title {
    margin-top: 10%;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}

#top-box {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}

.horizontal-style {
    background: white;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.horizontal-style li {
    display: table-cell;
}

.horizontal-style a {
    padding: 10px 30px;
    display: block;
    color: #6e788a;
    text-decoration: none;
    border-right: none;
    font-weight: 300;
    text-align: left;
}

.list-checkboxes {
    padding: 0;
}

#search-button {
    float: right;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #ccc51c;
    font-weight: 200;
}

.card-image {
    max-height: 250px;
    max-width: 350px;
}

.property-card {

}

.underline {
    width: 60%;
    background-color: #ccc51c;
    margin: 0 0 30px;;
    align-self: left
}

.footer-menu {
    list-style: none
}

.footer-menu li {
    display: inline;
    margin-right: 10px;
}

#social li {
    margin-right: 45px;
}

.header-button {
    color: white;
    background-color: #f5b63d;
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
}

.menus-border {
    border-right: solid 1px;
    border-color: #e9e9ec;
}



/*ipad pro*/
@media(max-width: 1366px) {
    .card-image {
        max-width: 350px;
    }
}

@media(max-width: 1024px){
    .card-image {
        max-width: 225px;
    }

    .property-card p{
        font-size: 0.9em;
    }
}

@media(max-width: 736px){
    .card-image {
        max-width: 300px;
    }
}


#nav-menu li{
    color: #778191;
    margin-right: 114px
}